.dashboard-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

main {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-left: 260px; /* Adjust based on sidebar width */
}

h1, h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.maintenance-actions .form-group {
  margin-bottom: 20px;
}

.maintenance-actions label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.maintenance-actions input,
.maintenance-actions textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
  height: 150px;
}

.maintenance-actions button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.maintenance-actions button:hover {
  opacity: 0.8;
}
