/* Sidebar Styling */
aside {
    width: 250px;
    top: 120px; /* Set to match the height of the navbar */
    left: 0;
    position: sticky;
    bottom: 60px; /* Set to match the height of the footer */
    background-color: #f8f8f8;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow-y: auto; /* Allows scrolling if content exceeds the viewport */
    font-family: 'Poppins', sans-serif;
}

/* Sidebar Links Styling */
aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li {
    margin-bottom: 5px;
}

aside ul li a {
    display: block;
    padding: 12px 20px;
    color: #800080;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 500;
}

/* Hover Effect */
aside ul li a:hover {
    background-color: #800080;
    color: white;
}

/* Active State Styling */
aside ul li a.active {
    background-color: #800080;
    color: white;
}

/* Main Content Styling */
.dashboard-container {
    margin-left: 10px; /* Leave space for the sidebar */
    padding: 5px;
    margin-top: 10px; /* Leave space for the navbar */
 }


